node_modules
/public/hot
public/uploads
public/agents
public/*.zip
/public/storage
/storage/*.key
/storage
/storage/debugbar/*
/composer.lock
.env.backup
.env
/.env
storage/laravel.log
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
/vendor
vendor
.idea
/draft.yaml
/.blueprint
